
.wrapper {
    width: 90vw;
    height: 90vh;
    background-color:bisque;
    
    
}

section {
    width: 800px;
    height: 250px;
    background-color: aqua;
    display: flex;
    justify-content: flex-end;
 }

p {
    background-color: green;
    
}

 .one,
 .two,
 .three {
    background-color: blueviolet;
    display: inline-block;
 }

 ul {
    width: 800px;
    height: 200px;
 }

 .inline-block {
    display: block;
 }